@tailwind base;
@tailwind components;
@tailwind utilities;

.recharts-legend-wrapper {
  display: none !important;
}
.recharts-wrapper {
  margin: 0 auto;
}

.rdp-month_caption {
  border-bottom: 1px solid #d7d7d7;
  padding: 29px 0;
}

.loader_dash {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #3b82f6;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader_loading {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rdp-months {
  margin: 0 auto !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 10px;
}
